* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

.inline-link {
  font-style: italic;
  color: rgb(27, 27, 233);
  text-decoration: underline;
}

.inline-link:hover{
  color: rgb(233, 4, 4)
}

.inline-link:active{
  color: rgb(5, 188, 212);
}

body {
  max-width: 1200px;
  margin: 0 auto;
}
/* styling the navigation bar */

.header {
  height: 100px;
}

.logo h1 {
  text-align: center;
  line-height: 50px;
  font-size: 25px
}

.nav-bar {
  width: fit-content; 
}

 
.nav-bar ul li {
  display: inline-block;
  margin: 5px;
}
 
.nav-bar ul li a{
  padding: 5px
}

.nav-bar ul li :hover {
  border-bottom: rgba(182, 112, 20, 0.9);;
}

.logo a,
.nav-bar ul li :hover {
  color: rgba(182, 112, 20, 0.9);
  
} 

/* creating responsive models for the navigation */
@media screen and (min-width: 450px) {
} 
@media screen and (min-width: 750px) { 
}
@media screen and (min-width: 800px) {
}
@media screen and (min-width: 1000px) {
}

/*styling the banner tag */

 .banner {
  background-image: url('/images/use.jpg');
  height: calc(40vh - 100px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:95%;
  margin: 10px auto 0;
  border-radius: 3px;
}

.intro {
  margin-left: 10px;
  margin-right: 10px;
}

.intro h2 {
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color:rgba(59, 189, 7, 0.904)

}

.intro p {
  line-height: 25px;
  margin-top: 10px;
}

/* styling the articles */

.article-nav {
  margin: 20px 10px;
}

.article-nav h4 {
  line-height: 30px;
  color:rgb(58, 189, 7)
}

.article-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.article-nav ul li{
  background-color: rgba(255, 238, 0, 0.575);
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.article {
  margin: 10px 10px;
  padding: 2px 5px;
  border-bottom: 0.002px dotted black;
}

.article h3 {
  font-size: 22px;
  margin: 20px auto 10px;
  color:rgba(59, 189, 7, 0.904)


}

.article h2 {
  font-size: 20px;
  text-align: center;
  color: rgba(182, 112, 20, 0.9);
  text-transform: uppercase;
}

.article p {
  line-height: 25px;
  margin-bottom: 20px;
}

.test-img {
  background-image: url('/images/test\ strip.jpg');
  height: calc(40vh - 100px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:95%;
  margin: 10px auto 0;
  border-radius: 3px;
}

#assurance {
  margin: 20px auto 0;
  color: rgb(139, 76, 3);
}

#assurance>p{
  font-style: italic;
  text-align: center;
}

.benefits h3{
  margin: 20px auto 0;
}

.benefits ul{
  margin: 0 auto;
  padding: 15px
}

.benefits ul li{
  margin: 5px;
  list-style:lower-roman;
  text-align: justify;
}

.image-section img{
  display: block;
  margin: 0 auto;
}

.FAQ h3 {
  color: rgb(214, 177, 14);
}

.FAQ dl dt {
  margin-bottom: 10px;
}

.FAQ dl dd {
  line-height: 25px;
  text-align: justify;
}


.box {
  margin:50px auto 20px ;
  padding: 5px;
  border: 0.02px black;
  border-style: dotted;
  overflow: hidden;
  width: fit-content;

}

#price {
float: left;
padding: 5px;
margin-top: 15px;

}

#order {
  float: right;
  background: rgb(43, 85, 202);
  padding: 3px 8px;
  border-radius: 5px;
  margin-top: 15px;
 }

 #order a{
  color:rgb(250, 247, 243);
  text-shadow: 1px 1px 1px rgb(44, 44, 44);
  font-size: 20px;
 }

#delivery {
  margin: 30px;
}

#delivery-text {
  text-align: center;
}

#delivery-img {
  text-align: center;
}

/* footer */



.read-more {
  margin: 40px auto;
  width: fit-content;
}

.read-more li {
  padding-left: 2px;
  margin:3px;
}

.read-more li img {
  text-align: center;;
}

.read-more li a{
  font-style: italic;
  color: rgb(27, 27, 233);
  text-decoration: underline;
  line-height: 25px;
}

.read-more li a:hover {
  color: rgb(233, 4, 4)
}

.read-more li a:active{
  color: rgb(90, 98, 99)
}

.more {
  margin-top:1em;
  border-bottom: 0.002px solid grey;
  padding: 5px;
}

#contact {
  margin: 20px auto;
  width:fit-content;
  display: flex;
}

#contact div {
  width: fit-content;
  margin: 10px;
}
